.header-desk {
    box-shadow: 0 1px 0 #E5E9F2;
}

.header-desk-container {
    display: flex;
    height: 72px;
    gap: 40px;
    align-items: center;
}

.header-mobi {
    display: none;
    box-shadow: 0 1px 0 #E5E9F2;
}

.header-mobi-container {
    display: flex;
    height: 42px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.header-mobi-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}

.menu-mobi {
    flex-direction: column;
    gap: 15px;
    background-color: #e8e5eb;
    padding: 15px;
    box-shadow: 0 0 10px #999;
}

.menu-mobi .menu-mobi-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.menu-mobi .menu-mobi-store-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.close-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
    z-index: 1;
}

.close-btn-line {
    transition: all linear 0.1s;
    background: #000;
    height: 2px;
    width: 100%;
}

.close-btn.is-active .close-btn-line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.close-btn.is-active .close-btn-line:nth-child(2) {
    display: none;
}

.close-btn.is-active .close-btn-line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
}

.close-btn.is-active + .menu-mobi {
    display: flex;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    display: flex;
    gap: 32px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #8C30F5;
}

.store-buttons {
    display: flex;
    margin-left: auto;
    gap: 12px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.main-container {
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-title {
    font-weight: 800;
    font-size: 62px;
    line-height: 1.36;
}

.main-description {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
}

.main-button {
    margin-top: 32px;
}

.button {
    background-color: #8C30F5;
    color: #fff;
    border-radius: 8px;
    padding: 16px 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.button:hover {
    opacity: 0.8;
}

.footer {
    background-color: #0B0D17;
}

.footer-container {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.copyright {
    color: #D9DBE1;
    line-height: 24px;
    font-size: 14px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #23252e;
    width: 34px;
    height: 34px;
}

.main-img-wrap {
    width: 524px;
    height: 400px;
    flex-shrink: 0;
}

.main-img {
    object-fit: var(--main-img-object-fit, none);
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .header-desk {
        display: none;
    }

    .header-mobi {
        display: block;
    }

    .main-container {
        flex-direction: column-reverse;
    }

    .main-content {
        align-items: center;
    }

    .main-title {
        text-align: center;
    }

    .main-description {
        text-align: center;
    }

    .main-img-wrap {
        --main-img-object-fit: contain;
        width: 400px;
        height: 305px;
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 45px;
    }

    .footer-container {
        flex-direction: column-reverse;
        height: 92px;
    }

    .main-img-wrap {
        width: 280px;
        height: 214px;
    }
}