.header-desk {
    box-shadow: 0 1px 0 #E5E9F2;

    @media (max-width: 1024px) {
        display: none;
    }
}

.header-desk-container {
    display: flex;
    height: 72px;
    gap: 40px;
    align-items: center;
}

.header-mobi {
    display: none;
    box-shadow: 0 1px 0 #E5E9F2;
    
    @media (max-width: 1024px) {
        display: block;
    }
}

.header-mobi-container {
    display: flex;
    height: 42px;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.menu-mobi {
    display: none;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.nav {
    display: flex;
    gap: 32px;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #8C30F5;
}

.store-buttons {
    display: flex;
    margin-left: auto;
    gap: 12px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.main-container {
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1024px) {
        align-items: center;
    }
}

.main-title {
    font-weight: 800;
    font-size: 62px;
    line-height: 1.36;

    @media (max-width: 1024px) {
        text-align: center;
    }

    @media (max-width: 768px) {
        font-size: 45px;
    }
}

.main-description {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;

    @media (max-width: 1024px) {
        text-align: center;
    }
}

.main-button {
    margin-top: 32px;
}

.button {
    background-color: #8C30F5;
    color: #fff;
    border-radius: 8px;
    padding: 16px 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}

.button:hover {
    opacity: 0.8;
}

.footer {
    background-color: #0B0D17;
}

.footer-container {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        height: 92px;
    }
}

.social-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.copyright {
    color: #D9DBE1;
    line-height: 24px;
    font-size: 14px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #23252e;
    width: 34px;
    height: 34px;
}

.main-img-wrap {
    width: 524px;
    height: 400px;
    flex-shrink: 0;

    @media (max-width: 1024px) {
        --main-img-object-fit: contain;
        width: 400px;
        height: 305px;
    }

    @media (max-width: 768px) {
        width: 280px;
        height: 214px;
    }
}

.main-img {
    object-fit: var(--main-img-object-fit, none);
    width: 100%;
    height: 100%;
}