.footer {
    background-color: $footer-bg-clr;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding-top: 19px;
        padding-bottom: 19px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    &__copyright {
        color: $footer-copyright-clr;
        line-height: 24px;
        font-size: 14px;
    }
}