$primary-bg-clr: #8C30F5;
$primary-clr: #8C30F5;
$contrast-primary-bg-clr: #fff;
$footer-bg-clr: #0B0D17;
$footer-copyright-clr: #D9DBE1;
$box-shadow-clr: #E5E9F2;
$header-mobi-close-btn-line-bg-clr: #000;
$menu-mobi-content-bg-clr: #fff;
$social-links-link-bg-clr: #23252e;
$social-links-link-hover-bg-clr: #383b47;
$base-clr: #18191F;
