.footer {
    background-color: #0B0D17;
}

.footer__container {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__copyright {
    color: #D9DBE1;
    line-height: 24px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer__container {
        height: 92px;
        flex-direction: column-reverse;
    }
}